/*pretty cool that you found this :)*/


/*Frag | Improved ESEA*/
/*Google Chrome Extension*/
/*Created, developed and maintained entirely by Erik "edit" Slatter*/
/*https://play.esea.net/users/1625828*/
/*https://twitter.com/erikslatter/ */






/*dark white*/
.Th, .sc-bdVaJa, .Inline :not(.bBuUFV) {
    color: #999999!important;
}

/*blue*/
.TextLink {
    color: #31a7d9!important;
}

/*dark gray*/
.Block{
    background-color: #111111!important;
}

/*white*/
.P, .cjBUSf {
    color: #f5f5f5!important;
}

.BoxTitle {
    background-color: #333333!important;
}









