/*pretty cool that you found this :)*/


/*Frag | Improved ESEA*/
/*Google Chrome Extension*/
/*Created, developed and maintained entirely by Erik "edit" S.*/
/*https://play.esea.net/users/1625828*/
/*https://twitter.com/itsEdit*/
/*https://editgraphics.myportfolio.com/*/





/*most general declarations first*/
html {
  background-image: none !important;
  background-color: #353535 !important;
}
 
a {
  color: #3f90a1 !important;
  text-decoration: none !important;
  font: normal 12px "Roboto" !important;
}

b {
  color: #d9d9d9 !important;
  text-decoration: none !important;
  font: normal 12px "Roboto" !important;
}

span {
  color: #d9d9d9 !important;
  text-decoration: none !important;
  font: normal 12px "Roboto" !important;
}

strong { 
  color: #d9d9d9 !important;
  text-decoration: none !important;
  font: bold 14px "Roboto" !important;
}

form {
  color: #d9d9d9 !important;  
}

td {
  color: #d9d9d9 !important;	
  font: normal 12px "Roboto" !important;
}

div {
  color: #d9d9d9 !important;
  font: normal 12px "Roboto" !important;  
}
a.red {
  color: #a13f3f !important;
}

acronym {
  color: #d9d9d9 !important;
  font: bold 10px "Roboto" !important;	
}

label {
  color: #d9d9d9 !important;
  text-decoration: none !important;
  font: bold 12px "Roboto" !important;
  padding-top:3px !important;
}

#layout-header {

  background-color: #1e1e1e !important;
  box-shadow: none !important;
}

#layout-navigation a.menu-main {
  display: block;
  height: 25px;
  padding: 5px 0 0 10px;
  margin: 0 0 0 0;
  background-color: #ffffff;
  font: 14px 'Roboto' !important;
  text-shadow: none !important;
  text-decoration: none;	
  color: #1e1e1e;
}

div.module header span.right select {
  margin-top: -6px;
  font: 11px 'Roboto' !important;
  color: #000000;
  text-shadow: none;
}

.comment-status-element {
  text-decoration: none !important;
}

.module {
  background-color: #1e1e1e !important;
  box-shadow: none !important;

}

.headline {
  color: #d9d9d9 !important;
  font: 13px 'Roboto' !important;

}

.preview {
  color: #a19ea6 !important;
}

section {
  color: #a19ea6 !important;
}

.comments {
  position:absolute;
  display: none;
}

.sub-header {
  background-color: #1e1e1e !important;
}

table.calendar {
  background-color: #928c9f !important;
}

ul li a{
  color: #3f90a1 !important;
  text-decoration: none;
  font: 12px "Roboto";
}

.comment-status-element {
  color: #3f90a1 !important;
}

.comment-status-element.new {
  color: #44a13f !important;
}

.recent-items li{
  margin-top: 4px;
  margin-bottom:4px;
}

#layout-ticker div{
  color: #d9d9d9 !important;
  font: 14px "Roboto";
}

.type {
  color: #44a13f !important;
}

span.right {
  color: #d9d9d9 !important;
}

.module header {
  color: #d9d9d9 !important;
  font: 14px 'Roboto' !important;
}

.sub-header.bold {
  color: #d9d9d9 !important;
  font: 13px 'Roboto' !important;
}

.stats-container .center a {
  color: #3f90a1 !important;
  text-decoration: none;
  font: 12px "Roboto";
}

.stats-container h1 {
  color: #d9d9d9 !important;
}

div.center {
  color: #d9d9d9 !important;
}

span.margin-top {
  color: #d9d9d9 !important;
}

.comment-container {
  background-color: #1e1e1e !important;
}

div.comment-content-output {
  color: #d9d9d9 !important;
  text-decoration: none;
  font: normal 12px "Roboto";
  line-height: 18px;
}

div.comment-content-output small {
  color: #d9d9d9 !important;
  text-decoration: none;
  font: normal 8px "Roboto";
}

section.comment-parent-actions b {
  color: #d9d9d9    !important;
}

b.comment-number {
  color: #d9d9d9   !important;
}

div.comment-quote {
  color: #a19ea6    !important;
  font: normal 12px "Roboto";
}

div.comment-quote-header {
    color: #d9d9d9   !important;
}

div.comment-content form textarea {
    background-color: BLALBLALA !important;
    color: #d9d9d9  !important;
}

div.comment-page-marker {
    color: #d9d9d9  !important;
}

div.comment-content form input {
	background-color: BLABLLA   !important;
}

div.comment-content-switch {
  color: #928c9f !important;
  text-decoration: none;
  font: normal 10px "Roboto";
}

a.account-premium {
  color: #44a13f !important;
  text-decoration: none;
  font: normal 12px "Roboto" !important;
}

a.account-insider {
  color: #3f90a1 !important;
  text-decoration: none;
  font: bold 12px "Roboto" !important;
}

a.account-black {
  color: #d9d9d9 !important;
  text-decoration: none;
  font: bold 12px "Roboto" !important;
}

a.account-black:after {
  color: #d9d9d9 !important;
  text-decoration: none;
  font: bold 12px "Roboto" !important;
  content: "   (admin)";
}

a.bold {
  color: #3f90a1 !important;
  text-decoration: none;
  font: bold 12px "Roboto" !important;
}

a.media-preview {
  color: #3f90a1 !important;
  text-decoration: none;
  font: bold 12px "Roboto";
}

div#module-streams.module section ul.recent-items li span {
  color: #3f90a1 !important;
}

.comment-container div.sub-header {
  color: #d9d9d9 !important;
}

div#module-your-activity li {
  border-bottom-style: none !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

h1, h2 {
border-bottom-style: none !important;
}

div.actions.margin-top {
  color: #d9d9d9 !important;
}

section.tabArea a.tab {
  color: #a19ea6 !important;
}

section.tabArea a.tab.activeTab {
  color: #44a13f !important;
}

div.row1 {
  background-color: #1e1e1e !important; 
  border-bottom-style: none !important;
  color: #d9d9d9 !important;
}

div.row1 span.stat {
  color: #d9d9d9 !important;
}

div.actions {
  color: #d9d9d9 !important;
}

a#clock-timezone {
  color: #d9d9d9 !important;
}

span#clock {
 color: #d9d9d9 !important;
}

span #cntdwn {
 color: #d9d9d9 !important;
}

div.stats-container h2 {
  color: #44a13f !important;
}

a.menu-main {
  color: #d9d9d9 !important;
  background-color: #1e1e1e !important;
}

a.menu-main.active {
  background-color: #44a13f !important;
  color: #1e1e1e !important;
}

div.menu-sub.hidden {
  background-color: #292929  !important;
}

a.pagelet-ignore {
  color: #d9d9d9 !important;
}

a.active.pagelet-ignore {
  background-color: #1e1e1e !important;
}

hr {
  display: none !important;
}

section#events-next.content-text {
  background-color: #1e1e1e !important;
}

div.player-list div {
  color: #d9d9d9 !important;
  text-decoration: none !important;
  font: normal 12px "Roboto" !important;
}

div.right {	
  color: #d9d9d9 !important; 
}

div.left.margin-top {
  color: #d9d9d9 !important;

}

h1.upcoming span.right{
  color: #1e1e1e !important;
}

h1.upcoming span.left, span.left b {
  color: #1e1e1e !important;
}

h1.completed span.right, span.right b {
  color: #1e1e1e !important;
}

a.highlight {
  color: #84c581 !important;
}

div#user-badge div a {
  color: #d9d9d9 !important;
}

div#user-badge div a.highlight {
  color: #84c581 !important;
}

div#user-badge div {
  color: #d9d9d9 !important;
  text-decoration: none !important;
  font: normal 12px "Roboto" !important;
}

div.module section form label {
  color: #d9d9d9 !important;
  text-decoration: none !important;
  font: normal 12px "Roboto" !important;
}

div.module section form div.data {
  color: #d9d9d9 !important;
  text-decoration: none !important;
  font: normal 12px "Roboto" !important;
}

div#network-container {
  background: #080808 !important;
  border-bottom: none !important;
}

div#profile-content {
  color: #d9d9d9 !important;
  text-decoration: none !important;
  font: normal 12px "Roboto" !important;
}

div#upanel-profile.module section div#profile-header h1{
  color: #d9d9d9 !important;
  text-decoration: none !important;
  font: bold 18px "Roboto" !important;
}

div#upanel-profile.module section div#profile-header h1 span{
  color: #d9d9d9 !important;
  text-decoration: none !important;
  font: normal 14px "Roboto" !important;
}

div#profile-info div.content section {
  color: #d9d9d9 !important;
  text-decoration: none !important;
  font: normal 12px "Roboto" !important;
  padding-top:3px !important;
}

div.content section span {
  color: #d9d9d9 !important;
  text-decoration: none !important;
  font: normal 12px "Roboto" !important;
}

div.content div.data {
  color: #d9d9d9 !important;
  text-decoration: none !important;
  font: normal 12px "Roboto" !important;
  padding-top:3px !important;
}


div.sub-header.margin-bottom.margin-top {
  color: #d9d9d9 !important;
  text-decoration: none !important;
  font: normal 12px "Roboto" !important;
}

div.clearfix div.data {
  padding-top: 3px !important;
}

div#profile-column-left div {
  color: #d9d9d9 !important;
  text-decoration: none !important;
  font: normal 12px "Roboto" !important;
  padding-top:3px !important;
}

div#rankGraph h1 {
  color: #d9d9d9 !important;
  text-decoration: none !important;
  font: bold "Roboto" !important;
}

div#rankGraph small {
  color: #d9d9d9 !important;	
}

div#buddy-list table tbody .buddy.row1, div#buddy-list table tbody .buddy.row1 td, div#buddy-list table tbody .buddy.row1 th  {
  background-color: #1e1e1e !important;
  border: none !important;
  padding-top:3px !important;
}

ul#recent-visitors.recent-items .row1 {
  background-color: #1e1e1e !important;
  border: none !important;
}

div#profile-column-right table tbody tr.row1, div#profile-column-right table tbody tr.row1 td, div#profile-column-right table tbody tr.row1 th {
  background-color: #1e1e1e !important;
  border: none !important;
  padding-top:3px !important;
  color: #d9d9d9 !important;
  text-decoration: none !important;
  font: normal 12px "Roboto" !important;
}

div#profile-column-right div.row1 {
  color: #d9d9d9 !important;
  text-decoration: none !important;
  font: normal 12px "Roboto" !important;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
} 

div#profile-column-right div#buddy-list div.sub-header.margin-top {
  color: #d9d9d9 !important;

}

div#buddy-list table tbody {
  border: none !important;
}

div#profile-column-right div.footer a b {
  color: #3f90a1 !important;
  font: bold 12px "Roboto" !important;
}
section.content-details {
  background-color: #1e1e1e !important;

}

section.content-text {
  color: #d9d9d9 !important;
  background-color: #1e1e1e !important;
}

section.content-text center, section.content-text center b  {
  color: #d9d9d9 !important;
  text-decoration: none !important;
  font: bold 14px "Roboto" !important;
}

section.content-footer {
  background-color: #1e1e1e !important;
}

section.content-footer div.left {
  color: #d9d9d9 !important;
}

section.content-details div.left, section.content-details div.left h1 {
  color: #d9d9d9 !important;
  font: normal 14px "Roboto" !important;
}

div#profile-header h1 {
  color: #d9d9d9 !important;	
}

div#profile-column-left {
  color: #d9d9d9 !important;
}

div#network-contents div.left a {
  color: #84c581 !important;	
}

table tbody tr.row1, table tbody tr.row1 td, table tbody tr.row1 th {
  background-color: #1e1e1e !important;	
  border:none !important;
  padding-top: 3px !important;
  color: #d9d9d9 !important;
  font: normal 12px "Roboto" !important;		
}

table tbody tr.row2, table tbody tr.row2 td, table tbody tr.row2 th {
  background-color: #2d2d2d !important;	
  border:none !important;
  padding-top: 3px !important;
  color: #d9d9d9 !important;
  font: normal 12px "Roboto" !important;		
}

table tbody tr th {
  color: #d9d9d9 !important;
  font: bold 12px "Roboto" !important;			
}

table tbody tr th#sorted {
	color: #1e1e1e !important;
}

#ladders-default section div span {
  color: #d9d9d9 !important;
  font: normal 12px "Roboto" !important;	  
}

#stats-leaders-weapon section div div, #stats-leaders-map section div div, div section div.left div.data, section div.right div.data, section div #rating-1 span {
  color: #d9d9d9 !important;
  font: normal 12px "Roboto" !important;		
}

div#layout-footer-content span.left b {
  color: #d9d9d9 !important;	
}

#module-events section table tbody tr th {
  color: #1e1e1e !important;
  font: body 12px "Roboto" !important;		
}

#module-events section table tbody tr td.cal-highlight {
  color: #3f90a1 !important;
  text-decoration: none !important;
}

div#layout-footer-content span.left b:before {
	display:none !important;
	
}

div#layout-footer-content span.left b:after {
	content: "   Frag Chrome Extension by edit" !important;
}

#search-default section div h2, #search-default section a small {
	color: #d9d9d9 !important;	
}

#search-default section form div {
	color: #d9d9d9 !important;		
}

.result {
  font: bold 16px "Roboto" !important;		
}

#support-tickets-view section div {
  color: #d9d9d9 !important;
  font: normal 12px "Roboto" !important;		
	
}

.small {
  color: #d9d9d9 !important;	
}

#support-tickets-view section div form input {
  color: #d9d9d9 !important;	
}

#form-status section ul li {
  color: #d9d9d9 !important;
  font: normal 12px "Roboto" !important;			
}

#upanel-profile section #profile-column-left {
  color: #d9d9d9 !important;
  font: normal 12px "Roboto" !important;		
}

#profile-column-right #buddy-list {
  color: #a19ea6 !important;
  font: normal 12px "Roboto" !important;		
	
}

#profile-column-right div {
  color: #d9d9d9 !important;	
}

.stat {
  background-color: #1e1e1e !important;
  padding-top:3px !important;
  color: #d9d9d9 !important;
  text-decoration: none !important;
  font: normal 12px "Roboto" !important;		
}

.match-header {
  background-color: #1e1e1e !important;		
}

#stats-match-view section h1, #body-match-stats div table tbody tr td {
  color: #d9d9d9 !important;	
}

#body-match-stats table thead tr td .tab {
  color: #a19ea6 !important;
}

#body-match-stats table thead tr td .activeTab {
  color: #44a13f !important;		
}

#body-match-stats div table tbody tr td a.bold.pagelet-ignore {
  color: #3f90a1 !important;
}

/* STYLING FOR STATS PAGE (big mess)*/
div#profile-column-right table.margin-top tbody tr th.sub-header {
  color: #d9d9d9 !important;
  font: bold 12px "Roboto" !important;	
}

div#profile-content table tbody tr.row1, div#profile-content table tbody tr.row1 td, div#profile-content table tbody tr.row1 th {
  background-color: #1e1e1e !important;	
  border-bottom:none !important;
  padding-top: 3px !important;
  color: #d9d9d9 !important;
  font: normal 12px "Roboto" !important;	
}

div#profile-column-left table tbody tr th b, div#profile-column-left table tbody tr th span {
  color: #1e1e1e !important;	
}

 div#profile-column-left table tbody tr td.stat {
  color: #d9d9d9 !important;	 
 }

div#profile-column-left table.box tbody tr td a{
	font-size:10px !important;
	
}

div.top-items.left table tbody tr.row1, div.top-items.left table tbody tr.row1 td, div.top-items.left table tbody tr.row1 th {
  background-color: #1e1e1e !important;	
  border-bottom:none !important;
  padding-top: 3px !important;
  color: #d9d9d9 !important;
  font: normal 12px "Roboto" !important;		
	
}

div.top-items.right table tbody tr.row1, div.top-items.right table tbody tr.row1 td, div.top-items.right table tbody tr.row1 th {
  background-color: #1e1e1e !important;	
  border-bottom:none !important;
  padding-top: 3px !important;
  color: #d9d9d9 !important;
  font: normal 12px "Roboto" !important;		
	
}

#profile-column-left table tbody tr th {
  color: #1e1e1e !important;
  font: normal 12px "Roboto" !important;		
}

input[type="text"], textarea {
  color: #d9d9d9 !important;
  font: normal 12px "Roboto" !important;	
  background-color: #2d2d2d !important;
}

input::-webkit-input-placeholder {
color: #d9d9d9 !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: #d9d9d9 !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: #d9d9d9 !important;  
}
 
input:-ms-input-placeholder {  
color: #d9d9d9 !important;  
}

#support-faq section div.question.row2 {
  background-color: #2d2d2d !important;
  border-bottom: none !important;
}

section.search {
  background-color: #1e1e1e	!important;
}

#support-faq section h1 {
  color: #d9d9d9 !important;
  text-decoration: none !important;
  font: bold 14px "Roboto" !important;	
  border: none !important;
  background-color: #1e1e1e !important;
}

#module-events section table tbody tr td {
  color: #2d2d2d !important;	
  font: normal 12px "Roboto" !important;
}

#module-stats section div div span.stat {
  padding-top: 0px !important;
}

.highlight {
  font-weight: bold !important;
  color: #84c581 !important;
}

#league-schedule section.header, #league-schedule section.header h1, #league-schedule section div table tbody tr th, #league-schedule section div{
  background-color: #1e1e1e !important;
  color: #d9d9d9 !important;
  text-shadow: none !important;
}

img#profile-image {
  outline: 2px solid #1e1e1e !important;
  outline-offset: -1px;
}

img#displayGraph {
  filter: invert(88%);
}

#message-header {
	
	background-color: #2d2d2d !important;
}


